//--------------------------------------------------------------
// Sass maps
//--------------------------------------------------------------

//-----------------------------------------
// Breakpoint map
//-----------------------------------------
$breakpoints: (
  media-sm: 567px,
  media-md: 768px,
  media-lg: 992px,
  media-xl: 1200px,
);

//-----------------------------------------
// Color map
//-----------------------------------------
$colors: (
  accent-dark: --accent-dark,
  accent: --accent,
  alt-primary-light: --alt-primary-light,
  alt-primary: --alt-primary,
  primary: --primary,
  quaternary: --quaternary,
  quinary-light: --quinary-light,
  quinary: --quinary,
  secondary-light: --secondary-light,
  secondary: --secondary,
  senary-dark: --senary,
  senary: --senary,
  tertiary: --tertiary,
);
