//--------------------------------------------------------------
// Stylesheet for acorn.css.
//--------------------------------------------------------------

@use "sass:map";
@import './maps.scss';
@import "./animation.scss";
@import "./custom.scss";
@import "./remark.scss";

//-----------------------------------------
// Root tokens.
//-----------------------------------------
:root {
  // Fonts.
  --font-sans-serif: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: 'Georgia', 'Times New Roman', serif;
  --font-size: clamp(1rem, 1rem, 1.125rem);
  --font-monospace: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
  --font-size-monospace: 90%;
  // Borders.
  --border-radius: 0.25rem;
  // Spacers. Rule of three.
  --pad: 0.625rem; // 10px
  --pad-2: 1.875rem; // 20px, 3*10
  --pad-3: 5.625rem; // 90px, (3*3)*10
  // Sizing.
  --container: 50rem; // 800px
  --wide-width: 68.75rem; // 1100px
  --max-width: 87.5rem; // 1400px
  --text-width: 40rem; // 640px
  --tab-size: 4;
  // Monotone.
  --black: #151513;
  --white: #fdfbfb;
  --white-gradient: linear-gradient(120deg, var(--white) 0%, var(--off-white) 100%);
  --off-white: #ebedee;
  --dark-gray: #313131;
  --gray: #959595;
  --light-gray: #dfdede;
  --lightest-gray: #ededed;
  // Colors.
  --primary-alt: #ff0090;
  --primary: #ee2d6d;
  --primary-dark: #8e0130;
  --primary-light: #fc94b6;
  --primary-lighter: #fbb4cc;
  --secondary: #e0a81e;
  --secondary-light: #edc151;
  --accent: #41aaea;
  --accent-dark: #186797;
  --accent-light: #6ec3f8;
  --accent-lighter: #b1e0fd;
  --tertiary: #db8400;
  --quaternary: #024f6e;
  --quinary-dark: #300058;
  --quinary: #5203a1;
  --quinary-light: #984de3;
  --alt-primary: #03a138;
  --alt-primary-light: #5ea407;
  --senary: #ea5a1c;
  --senary-dark: #d44401;
  // Utility Colors.
  --error: #ff003e;
  --success: #00c807;
  --warning: #ffcc00;
  // Code highlight.
  --code-bg: #e6e6e6;
}

//-----------------------------------------
// All elements.
//-----------------------------------------
* {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-smoothing: antialiased;
  max-width: 100%;
  text-rendering: geometricPrecision;
}

@each $color, $value in $colors {
  [data-color=#{$color}] {
    color: var(#{$value});
  }
}

*,
::before,
::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

//-----------------------------------------
// Layout/Content Elements.
//-----------------------------------------
html {
  // @todo: re-add gradient with granim.js.
  // background-image: var(--white-gradient);
  background-size: cover;
  font-size: var(--font-size); // 18px;
  line-height: calc(var(--font-size) * 1.75);
  margin: auto;
  min-height: 100%;
  overflow-x: hidden;
  padding: var(--pad-2) 3vw;
  scroll-behavior: smooth;
  tab-size: var(--tab-size);
  text-decoration-skip-ink: "auto";
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

body {
  caret-color: var(--black);
  color: var(--black);
  cursor: default;
  font-family: var(--font-sans-serif);
  font-weight: 400;
  padding: 0;
  word-wrap: break-word;
  transition: background 0.3s ease-in-out;

  > header,
  > main {
    margin-bottom: var(--pad-3);
  }

  > header,
  > main,
  > footer {
    margin-top: 0;
  }

  > header,
  > main,
  > section,
  > footer {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--container);
  }
}

main {
  display: block;

  > section {
    margin-bottom: var(--pad-3);
  }

  [data-type="top"], {
    position: relative;
    z-index: 0;

    &[data-layout="featured"] {

      > header {
        align-items: center;
        text-align: center;
        width: 100%;
        position: relative;
        padding-left: var(--pad);
        padding-right: var(--pad);

        @media screen and (min-width: map.get($breakpoints, "media-md")) {
          max-height: 100%;
        }

        @media screen and (min-width: map.get($breakpoints, "media-lg")) {
          max-height: calc(100vh - (var(--pad-3) * 3.6));
        }

        > p,
        > time,
        > h1,
        > cite {
          color: var(--white);
          z-index: 2;
        }

        > cite {
          position: absolute;
          bottom: var(--pad);
          right: var(--pad);
        }
      }

      [data-type="image-container"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-radius: var(--border-radius);
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: -1;

        @media screen and (min-width: map.get($breakpoints, "media-md")) {
          border-radius: 0;
        }

        @media screen and (min-width: map.get($breakpoints, "media-lg")) {
          border-radius: var(--border-radius);
        }

        [post-image] {
          position: relative;
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          z-index: 0;
          bottom: 0;
        }

        &::before {
          position: absolute;
          content: '';
          background-color: var(--primary);
          border-radius: var(--border-radius);
          opacity: 0.8;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: 1;

          @media screen and (min-width: map.get($breakpoints, "media-md")) {
            border-radius: 0;
          }

          @media screen and (min-width: map.get($breakpoints, "media-lg")) {
            border-radius: var(--border-radius);
          }
        }
    }

      + hr {
        text-align: center;
      }
    }

    > header {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      height: 45rem;
      max-height: calc(100vh - (var(--pad-3) * 3.6));

      > h1 {
        margin-bottom: var(--pad);

        > small,
        > small em {
          color: var(--primary-lighter);
          font-size: 70%;
          font-weight: normal;
        }

        > span {
          font-weight: normal;
        }
      }

      > p {

        &:last-child {
          margin-bottom: 0;
        }
      }

      [post-image] {
        position: relative;
        bottom: calc(-1 * var(--pad-2) * 4.5);
        right: 0;
        z-index: -1;

        @media screen and (min-width: map.get($breakpoints, "media-sm")) {
          position: absolute;
        }
      }
    }
  }
}

nav[data-type="tags"] {
  margin-top: 0;
  margin-bottom: 0;

  ul li {

    $i: 0;

    @each $color, $value in $colors {
      $i: $i + 1;

      &:nth-child(#{$i}) a:active,
      &:nth-child(#{$i}) a:hover {
        color: var(--white);
        background-color: var(#{$value});
      }

      &:nth-child(#{$i}) a:focus {
        color: var(--gray);
        background-color: var(--light-gray);
        border: 1px solid var(#{$value});
      }
    }

    a {
      background-color: var(--light-gray);
      border-radius: 1.5625rem;
      border: 1px solid var(--light-gray);
      color: var(--gray);
      line-height: 1;
      padding: calc(var(--pad) / 3) var(--pad);
      text-decoration: none;
      transition: background-color, color, border, 0.3s ease-in-out;
    }
  }
}

footer {
  display: flex;
  font-size: 80%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  > p {
    margin-bottom: 0;
  }
}

[data-layout="has-sidebar"] {

  @media screen and (min-width: map.get($breakpoints, "media-md")) {
    display: flex;
  }

    aside {

      @media screen and (min-width: map.get($breakpoints, "media-md")) {
        flex: 0 0 25%;
        order: 99;
      }

      li {
        text-align: right;
        padding-bottom: var(--pad);

        @media screen and (min-width: map.get($breakpoints, "media-md")) {
          flex: 0 0 100%;
        }

        $i: 0;

        // @todo: let's tie these more directly to tag names.
        @each $color, $value in $colors {
          $i: $i + 1;

          &:nth-child(#{$i}) a {
            background-color: var(#{$value});
            border: 1px solid var(#{$value});
            color: var(--white);
          }

          &:nth-child(#{$i}) a:active,
          &:nth-child(#{$i}) a:hover,
          &:nth-child(#{$i}) a:focus {
            color: var(--gray);
            background-color: var(--light-gray);
            border: 1px solid var(#{$value});
          }
        }

        a {
          background-color: var(--lightest-gray);
          border-radius: 1.5625rem;
          color: var(--gray);
          line-height: 1;
          padding: calc(var(--pad) / 3) var(--pad);
          text-decoration: none;
          transition: background-color, color, border, 0.3s ease-in-out;
        }
      }
    }

    [data-layout="main-content"] {
      flex: 0 0 75%;
    }
  }

section {
  margin-bottom: var(--pad-2);

  // Section sections.
  &:last-child,
  section:last-child {
    margin-bottom: 0;
  }

  > header {
    margin-bottom: var(--pad-2);
  }

  &[data-type="blog"] {
    border-radius: var(--border-radius);
    align-items: center;
    margin-bottom: calc( var(--pad-2) * 2.5 );
    gap: var(--pad);

    @media screen and (min-width: map.get($breakpoints, "media-md")) {
      display: flex;
    }

    header {
      margin: 0;
    }

    > a {
      display: inline-block;
    }

    > a [data-type="thumbnail"] {
      height: auto;
      margin-bottom: var(--pad);
      width: 100%;
      aspect-ratio: 3/2;

      @media screen and (min-width: map.get($breakpoints, "media-md")) {
        width: calc(var(--pad-2) * 4);
        height: calc(var(--pad-2) * 3);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    > div:not([data-type="thumbnail"]) {

      @media screen and (min-width: map.get($breakpoints, "media-md")) {
        padding: var(--pad);
      }
    }

    h2 {
      margin-bottom: var(--pad);

      a,
      a:visited {
        color: currentColor;
        text-decoration: none;

        &:active,
        &:hover {
          color: var(--primary);
        }

        &:focus {
          color: var(--primary-light);
        }

        &.current {
          color: var(--dark-gray);
          font-style: italic;
        }
      }
    }

    nav {
      margin: 0;

      ul li {

        $i: 0;

        @each $color, $value in $colors {
          $i: $i + 1;

          &:nth-child(#{$i}) a:active,
          &:nth-child(#{$i}) a:hover {
            color: var(--white);
            background-color: var(#{$value});
          }

          &:nth-child(#{$i}) a:focus {
            color: var(--gray);
            background-color: var(--light-gray);
            border: 1px solid var(#{$value});
          }
        }

        a {
          background-color: var(--light-gray);
          border-radius: 1.5625rem;
          border: 1px solid var(--light-gray);
          color: var(--gray);
          line-height: 1;
          padding: calc(var(--pad) / 3) var(--pad);
          text-decoration: none;
          transition: background-color, color, border, 0.3s ease-in-out;
        }
      }
    }

    time {
      color: var(--gray);
      display: inline-block;
      font-size: 90%;
      margin-bottom: var(--pad);
    }
  }

  &[data-type="work"] {
    border: 1px solid var(--lightest-gray);
    border-radius: var(--border-radius);
    padding: var(--pad);
    align-items: center;
    display: flex;
    margin-bottom: calc( var(--pad-2) * 2.5 );

    header {
      margin: 0;
    }

    > div {
      width: 100%;
    }

    nav {
      font-size: 80%;
      margin: var(--pad) 0;

      &:last-child {
        margin-bottom: 0;
      }

      $i: 0;

      @each $color, $value in $colors {
        $i: $i + 1;
        ul li:nth-child(#{$i}) span::before {
          background-color: var(#{$value});
        }
      }

      ul li span {
        display: inline-block;
        padding-left: calc(var(--pad) * 1.5);
        color: var(--gray);
        vertical-align: top;
        position: relative;

        &::before {
          border-radius: 100%;
          content: '';
          height: 0.75rem;
          width: 0.75rem;
          background-color: var(--lightest-gray);
          position: absolute;
          transform: translateY(-50%);
          top: calc(50% + 1px);
          left: 0;
        }
      }
    }

    p {
      margin-bottom: 0;
    }

    [data-type="related"] {
      background-color: var(--light-gray);
      border-radius: 1.5625rem;
      border: 1px solid var(--light-gray);
      color: var(--gray);
      line-height: 1;
      padding: calc(var(--pad) / 3) var(--pad);
      text-decoration: none;
      font-size: 90%;
      display: inline-block;
      transition: background-color, color, border, 0.3s ease-in-out;

      &:active,
      &:hover {
        color: var(--white);
        background-color: var(--primary);
      }

      &:focus {
        color: var(--gray);
        background-color: var(--light-gray);
        border: 1px solid var(--primary);
      }
    }

    h2 {
      margin-bottom: var(--pad);
      font-weight: normal;

      a,
      a:visited {
        color: currentColor;
        text-decoration: none;

        &:active,
        &:hover {
          color: var(--primary);
        }

        &:focus {
          color: var(--primary-light);
        }
      }
    }
  }

  &[data-type="photo"] {
    border-radius: var(--border-radius);
    align-items: center;
    margin-bottom: calc( var(--pad-2) * 2.5 );
    gap: var(--pad);

    @media screen and (min-width: map.get($breakpoints, "media-md")) {
      display: flex;
    }

    header {
      margin: 0;
    }

    > a {
      display: inline-block;
    }

    > a [data-type="thumbnail"] {
      height: auto;
      width: 100%;
      margin-bottom: var(--pad);
      aspect-ratio: 3/2;

      @media screen and (min-width: map.get($breakpoints, "media-md")) {
        aspect-ratio: 1/1;
        height: calc(var(--pad-3) * 3);
        width: calc(var(--pad-3) * 3);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    > div:not([data-type="thumbnail"]) {

      @media screen and (min-width: map.get($breakpoints, "media-md")) {
        padding: var(--pad);
        flex: 0 0 50%;
      }
    }

    p {
      margin-bottom: 0;
    }

    h2 {
      margin-bottom: var(--pad);
      font-weight: normal;

      a,
      a:visited {
        color: currentColor;
        text-decoration: none;

        &:active,
        &:hover {
          color: var(--primary);
        }

        &:focus {
          color: var(--primary-light);
        }
      }
    }
  }
}

[data-sticky] {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  margin-bottom: var(--pad-3);

  &[data-type="inline"] {
    margin-bottom: var(--pad-2);
    -ms-overflow-style: none;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    transform: translate3d(0, 0, 0);
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      flex-flow: row nowrap;
    }
  }

  &[data-variant="small"] {
    font-size: 1rem;
    line-height: 1;
  }

  &[data-style="plain"] {

    a {
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    gap: var(--pad) calc(var(--pad-2) / 2);
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      flex: 0 0 auto;
    }
  }

  a,
  a:visited {
    color: var(--accent);

    &:active,
    &:hover {
      color: var(--primary);

      &.current {
        text-decoration: line-through;
      }
    }

    &:focus {
      color: var(--primary-light);

      &.current {
        text-decoration: line-through;
      }
    }

    &.current {
      color: var(--dark-gray);
      font-style: italic;
      pointer-events: none;
    }
  }
}

//-----------------------------------------
// Content Elements.
//-----------------------------------------
blockquote {
  border-left: 2px solid var(--primary);
  font-size: calc(var(--font-size) * 1.25);
  font-style: italic;
  line-height: calc(var(--font-size) * 1.75);
  padding: 0 0 0 var(--pad-2);
  position: relative;

  &::before {
    color: var(--light-gray);
    content: '\201C';
    font-family: var(--font-serif);
    font-size: 300%;
    left: calc(-1 * var(--pad) / 3);
    line-height: 1;
    position: absolute;
    top: calc(-1 * var(--pad) / 2);
  }

  > cite {
    color: var(--gray);
    font-size: 70%;
    font-style: italic;

    :is(em, strong, i, b) {
      color: var(--gray);
    }

    &::before {
      content: "— ";
    }
  }

  &[data-type="pullquote"] {
    border-top: 2px solid var(--primary);
    border-left: 0;
    padding: var(--pad-2) 0 0 0;
    margin: var(--pad-3) auto;

    @media screen and (min-width: map.get($breakpoints, "media-md")) {
      max-width: 70%;
    }
  }
}

// Moe the blockquote
// and the figure citation to the next line.
audio,
blockquote,
embed,
figure,
iframe,
object,
picture,
video {
  border: 0;
  margin-left: auto;
  margin-right: auto;

  > cite {
    margin-top: var(--pad);
  }
}

// Captions.
cite,
caption,
figcaption {
  color: var(--gray);
  font-size: 0.8125rem;
  line-height: 1.5;
  display: block;

  > p {
    margin-bottom: 0;
  }
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  gap: var(--pad-2);

  dt {
    @extend strong;

    grid-column-start: 1;
  }

  dd {
    grid-column-start: 2;
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 325%;
  letter-spacing: -0.05rem;
  line-height: 1.125;
}

h2 {
  font-size: 180%;
  letter-spacing: -0.05rem;
  line-height: 1.2;
}

h3 {
  font-size: 150%;
  letter-spacing: -0.05rem;
  line-height: 1.2;
}

h4 {
  font-size: 130%;
  letter-spacing: -0.03rem;
  line-height: 1.3;
}

h5 {
  font-size: 110%;
  letter-spacing: 0rem;
  line-height: 1.4;
}

h6 {
  font-size: 100%;
  letter-spacing: -0.02rem;
  line-height: 1.5;
}

p {
  hyphens: auto;
}

pre {
  background-color: var(--code-bg);
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  color: var(--white);
  line-height: 1.125;
  font-size: 80%;
  overflow-x: auto;
  padding: var(--pad);
  tab-size: var(--tab-size);
  white-space: pre-wrap;

  // &::after {
  //   content: " ";
  // }
}

*:not(pre) > code {
  vertical-align: baseline;
  white-space: nowrap;
}

*:not(pre) > code,
samp {
  background-color: var(--white);
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  color: var(--dark-gray);
  padding: calc(var(--pad) / 2);
}

*:not(pre) > code,
samp {
  font-family: var(--font-monospace);
  font-size: var(--font-size-monospace);
}

// All other inline elements.
kbd {
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: 1px solid var(--light-gray);
  box-shadow: 0 2px 0 var(--light-gray);
  color: var(--dark-gray);
  display: inline-block;
  font-family: var(--font-monospace);
  font-size: var(--font-size-monospace);
  padding: calc(var(--pad) / 2) var(--pad);
  vertical-align: middle;
}

em,
i {
  font-style: oblique;
  font-style: italic; // fallback.
}

b,
strong {
  font-weight: 800;
  font-weight: bold; // fallback.
}

a {
  display: inline-block;
  color: var(--primary);
  text-decoration: underline;

  &[target="_blank"]::after {
    content: " \2197";
  }

  &:visited {
    color: var(--primary);
  }

  &:active,
  &:focus,
  &:hover {
    color: var(--primary-light);
    outline: 0;
  }
}

mark {
  background-color: var(--accent);
  padding: 0 calc(var(--pad) / 3);
}

q {
  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

del,
s {
  text-decoration: line-through;
}

sub,
sup,
small {
  font-size: 70%;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: sup;
}

u {
  text-decoration: underline;
}

hr {
  margin: var(--pad-3) auto;
  border: 0;
  padding-bottom: var(--pad);
  letter-spacing: 0;
  line-height: 1;

  &::after {
    color: transparent;
    content: 'se-ra-tor';
    font-size: 1.5rem;
    position: relative;
    text-decoration-color: var(--light-gray);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    top: calc(-1 * var(--pad));
  }
}

[data-text-style="large"] {
  font-size: 250%;

  strong {
    color: var(--primary);
  }
}

// Shared text content element margins.
dl,
[data-wrapper],
[data-gallery],
blockquote,
audio,
details,
embed,
figure,
iframe,
object,
video,
table,
details,
[data-table],
[data-align="wide"],
[data-align="center"],
[data-align="full"],
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
ul,
ol,
p + img {
  margin-bottom: var(--pad-2);
  margin-top: 0;

  > *:last-child {
    margin-bottom: 0;
  }
}

//-----------------------------------------
// Images & Media.
//-----------------------------------------
img {
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  vertical-align: bottom;
}

audio,
embed,
iframe,
object,
video {
  max-width: 100%;
  width: 100%;

  img {
    height: auto;
  }
}

[data-media] {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  width: 100%;

  &[data-ratio="1:1"] {
    padding-top: 100%;
  }

  &[data-ratio="4:3"] {
    padding-top: 75%;
  }

  &[data-ratio="3:2"] {
    padding-top: 66.66%;
  }

  &[data-ratio="8:5"] {
    padding-top: 62.5%;
  }

  embed,
  iframe,
  object,
  video {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

figure {
  display: table;

  figcaption {
    margin: 0 auto;
    max-width: var(--container);
  }
}

[data-gallery] {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  row-gap: var(--pad-2);
  justify-content: space-between;

  img,
  figure > img {
    width: 100%;
    height: auto;
  }

  figure {
    margin: 0;

    @media screen and (min-width: map.get($breakpoints, "media-sm")) {
      width: calc(50% - var(--pad));
    }
  }

  img {

    @media screen and (min-width: map.get($breakpoints, "media-sm")) {
      width: calc(50% - var(--pad));
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

[data-align="wide"] {
  max-width: var(--wide-width);
  position: relative;
  width: 100%;

  @media screen and (min-width: map.get($breakpoints, "media-lg")) {
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;

  }
}

[data-align="center"] {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

[data-align="full"] {
  max-width: var(--max-width);
  position: relative;
  width: 100%;

  @media screen and (min-width: map.get($breakpoints, "media-sm")) {
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }
}

[data-align="left"] {
  @media screen and (min-width: map.get($breakpoints, "media-md")) {
    float: left;
    margin-right: var(--pad-2);
  }
}

[data-align="right"] {
  @media screen and (min-width: map.get($breakpoints, "media-md")) {
    float: right;
    margin-left: var(--pad-2);
  }
}

[data-align="left"],
[data-align="right"] {
  margin-bottom: var(--pad-2);
  margin-top: calc(var(--pad) / 2);

  @media screen and (min-width: map.get($breakpoints, "media-md")) {
    max-width: calc(40% - var(--pad-2));
  }
}

figcaption {
  caption-side: bottom;
  color: var(--dark-gray);
  display: table-caption;
}

//-----------------------------------------
// Interactive Elements.
//-----------------------------------------
details {
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  padding: var(--pad) var(--pad) 0;

  & + & {
    margin-bottom: var(--pad);
  }

  &[open] {
    border: 1px solid var(--primary);
  }

  *:last-child {
    margin-bottom: var(--pad);
  }

  &:last-child {
    margin-bottom: 0;
  }

  summary {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: var(--pad);

    &::marker {
      content: "";
    }

    > * {
      display: inline;
    }
  }
}

//-----------------------------------------
// Fieldset
//-----------------------------------------
fieldset {
  border: 1px solid var(--primary);
  padding: var(--pad-2);
  margin-bottom: var(--pad-2);

  legend {
    color: var(--primary);
    font-size: 120%;
    text-align: center;
  }

  > fieldset {
    border: none;
    margin-bottom: var(--pad);
    padding: 0;

    legend {
      color: currentColor;
      font-size: 100%;
      text-align: left;
    }
  }
}

//-----------------------------------------
// Form Elements.
//-----------------------------------------
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[list],
input[type="range"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="week"],
input:not([type]),
select,
textarea {
  background-color: var(--white);
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  font-size: calc(var(--font-size) * 0.75);
  display: block;
  padding: var(--pad);
}

button:focus,
button:focus-visible,
[role="radiogroup"]:focus-within input,
input:focus,
select:focus,
textarea:focus {
  box-shadow: inset 0 0 0 1px var(--primary-dark);
  outline: none;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]),
select,
textarea {
  width: 100%;
}

input[type="range"] {
  box-shadow: none;
  border: 0;
  padding: 0;
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;

  /* style datalist */
  & + datalist {
    display: flex;
    justify-content: space-between;

    option {
      background-color: var(--primary);
      display: inline-block;
      height: 100%;
      margin-top: -14px;
      text-align: center;
      transform: scale(0.5);
      width: 2px;
      z-index: 0;

      &:first-child {
        margin-left: 6px;
      }
      &:last-child {
        margin-right: 6px;
      }
    }
  }

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background: var(--primary);
    border-radius: 1px;
    border: 0px solid var(--black);
    box-shadow: 0px 0px 0px var(--black);
    cursor: pointer;
    height: 5px;
    width: 100%;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--primary);
    border-radius: 25px;
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 0px var(--black);
    cursor: pointer;
    height: 18px;
    margin-top: -7px;
    width: 18px;
  }

  &:focus::-webkit-slider-runnable-track {
    background: var(--primary);
  }

  &:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px var(--primary);
  }

  &::-moz-range-track {
    animate: 0.2s;
    background: var(--primary);
    border-radius: 1px;
    border: 0px solid var(--black);
    box-shadow: 0px 0px 0px var(--black);
    cursor: pointer;
    height: 5px;
    width: 100%;
  }

  &::-moz-range-thumb {
    background: var(--primary);
    border-radius: 25px;
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 0px var(--black);
    cursor: pointer;
    height: 18px;
    width: 18px;
  }

  &::-ms-track {
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 5px;
    width: 100%;
  }

  &::-ms-fill-lower {
    background: var(--primary);
    border-radius: 2px;
    border: 0px solid var(--black);
    box-shadow: 0px 0px 0px var(--black);
  }

  &::-ms-fill-upper {
    background: var(--primary);
    border-radius: 2px;
    border: 0px solid var(--black);
    box-shadow: 0px 0px 0px var(--black);
  }

  &::-ms-thumb {
    background: var(--primary);
    border-radius: 25px;
    border: 1px solid var(--primary);
    box-shadow: 0px 0px 0px var(--black);
    cursor: pointer;
    height: 1.125rem;
    margin-top: 1px;
    width: 1.125rem;
  }

  &:focus::-ms-fill-lower {
    background: var(--primary);
  }

  &:focus::-ms-fill-upper {
    background: var(--primary);
  }
}

input[list]:not([type="range"]),
select {
  appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, var(--primary) 50%),
    linear-gradient(135deg, var(--primary) 50%, transparent 50%),
    linear-gradient(to right, var(--primary), var(--primary));
  background-position: calc(100% - 20px) 50%, calc(100% - 15px) 50%,
    calc(100% - 2.25rem) 50%;
  background-repeat: no-repeat;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
}

textarea {
  min-height: 9.375rem; // 150px;
}

label {
  display: block;
  margin-bottom: var(--pad);

  > span {
    display: block;
  }
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"] {
  border-radius: var(--border-radius);
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid var(--primary);
  cursor: pointer;
  height: 1.25rem;
  outline: none;
  vertical-align: middle;
  width: 1.25rem;

  &:checked {
    position: relative;

    &::after {
      content: "";
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"]:checked::after {
  border: 4px solid var(--primary);
  border-width: 0 4px 4px 0;
  height: 13px;
  left: 7px;
  top: 2px;
  transform: rotate(45deg);
  width: 7px;
}

input[type="radio"]:checked::after {
  background-color: var(--primary);
  border-radius: 100%;
  border: 3px solid var(--white);
  height: 100%;
  width: 100%;
}

input[type="file"] {
  &:focus {
    box-shadow: none;
  }

  &::file-selector-button {
    @extend button;

    content: "Choose File";
  }
}

[data-input] {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--pad);
  margin-bottom: var(--pad);
  width: 100%;

  label {
    margin: 0;
    width: 50%;
  }
}

//-----------------------------------------
// Buttons
//-----------------------------------------
[data-buttons] {
  display: flex;
  flex-flow: row wrap;
  gap: var(--pad);

  input[type="submit"],
  button {
    margin: 0;
  }
}

input[type="submit"],
button {
  appearance: none;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  border: 1px solid var(--primary);
  color: var(--white);
  cursor: pointer;
  display: inline-table;
  font-size: calc(var(--font-size) * 0.75);
  font-weight: 600;
  margin-bottom: var(--pad);
  padding: var(--pad);

  &[data-destructive] {
    background-color: var(--accent);
    border: 1px solid var(--accent);

    &:focus,
    &:focus-within {
      box-shadow: inset 0 0 0 1px var(--accent-dark);
    }
  }

  &[data-variant="dark"] {
    background-color: var(--black);
    border: 1px solid transparent;
    color: var(--white);
    transition: all 0.25s ease-in-out;

    &:hover,
    &[aria-pressed="true"],
    &:focus {
      color: var(--black);
      background-color: var(--white);
      border: 1px solid var(--black);
    }
  }

  &[data-variant="secondary"] {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);

    &[data-destructive] {
      background-color: transparent;
      border: 1px solid var(--accent);
      color: var(--accent);
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }
}

//-----------------------------------------
// Tables.
//-----------------------------------------
[data-table]:is(div) {
  font-size: 100%;
}

[data-table][data-style="list"] {

  [data-attr="column"]:nth-child(2n) {
    text-align: left;
  }
}

[data-table]:not([data-style="list"]) {

  [data-attr="column"]:nth-child(2n) {
    text-align: right;
  }
}

[data-table] {
  // Provide optional overflow features.
  overflow-x: auto;

  [data-attr="header"] {
    border: 1px solid var(--light-gray);
    border-width: 0 0 1px 0;
    font-weight: bold;
    padding: 0 0 var(--pad) 0;

    :is(h1, h2, h3, h4, h5, h6) {
      font-size: 120%;
      margin-bottom: 0;
    }

    p {
      font-weight: normal;
      margin-bottom: 0;
    }
  }

  [data-attr="row"] {
    border: 1px solid var(--light-gray);
    border-width: 0 0 1px 0;
    padding: var(--pad) 0 var(--pad) 0;

    &:last-child {
      border-bottom: 0;
    }
  }

  [data-attr="header"],
  [data-attr="row"] {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
    gap: var(--pad);
    justify-content: space-between;
  }

  [data-attr="column"] {
    word-break: initial;
    flex: 0 0 calc(50% - var(--pad));
  }
}

table {
  border-collapse: collapse;
  font-size: 90%;

  td,
  th {
    border: 1px solid var(--light-gray);
    padding: var(--pad);
    word-break: initial;
  }

  th {
    background-color: var(--off-white);
    text-align: left;
  }

  td {
    white-space: pre-line;
  }
}
